@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-black: #374151;
  --text-grey: #6b7280;
}

@layer components {
  body {
    @apply bg-slate-200;
  }

  h1,
  h2,
  h3 {
    color: var(--text-black);
  }

  h1 {
    @apply font-bold text-[32px] leading-10 lg:text-[48px] lg:leading-[58px];
  }
  h2 {
    @apply font-bold text-[24px] leading-8 lg:text-[32px] lg:leading-[38px];
  }
  h3 {
    @apply font-poppins font-medium text-[16px] leading-6;
  }

  p {
    @apply font-poppins;
  }
}

@layer utilities {
  .text-normal {
    color: var(--text-black);
  }
  .text-grey {
    color: var(--text-grey);
  }

  .btn {
    @apply rounded-full font-medium text-sm text-gray-100 flex gap-4 justify-center items-center;
  }
  .btn-blue {
    @apply font-poppins font-medium bg-indigo-500 px-6 py-2;
  }
  .btn-lightblue {
    @apply font-poppins font-medium text-xs px-4 py-[6px] bg-indigo-300 text-gray-50;
  }
}
